html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80vw;
  height: 100vh;
  margin: auto;
}

.page-layout {
  display: grid;
  grid-template-columns : 1fr 1fr;
  height: 100%;
}

.side-bar {

}

.main-page {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}